@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'fontpower';
  src: url('../fonts/fontpower-webfont.eot');
  src: url('../fonts/fontpower-webfont.eot') format('embedded-opentype'), url('../fonts/fontpower-webfont.woff') format('woff'), url('../fonts/fontpower-webfont.ttf') format('truetype'), url('../fonts/fontpower-webfont.svg#fontpowerRegular') format('svg');
}
/* 多色图标 */
svg.icon {
  width: 14px;
  height: 14px;
  vertical-align: top;
  fill: currentColor;
  overflow: hidden;
}
.fa {
  display: inline-block;
  font-family: FontAwesome, fontpower;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fa-power-peizhi:before {
  content: "\e65a";
}
.fa-power-daishen2:before {
  content: "\e735";
}
.fa-power-pelogo1:before {
  content: "\e65b";
}
.fa-power-timing1:before {
  content: "\e737";
}
.fa-power-piliangshanchu1:before {
  content: "\e65d";
}
.fa-power-ip:before {
  content: "\e738";
}
.fa-power-preview:before {
  content: "\e65e";
}
.fa-power-shibai:before {
  content: "\e73f";
}
.fa-power-quanping:before {
  content: "\e65f";
}
.fa-power-tuihui:before {
  content: "\e740";
}
.fa-power-search-o:before {
  content: "\e660";
}
.fa-power-forward:before {
  content: "\e741";
}
.fa-power-quxiaozhiding:before {
  content: "\e661";
}
.fa-power-filter:before {
  content: "\e742";
}
.fa-power-radio1:before {
  content: "\e662";
}
.fa-power-draft3:before {
  content: "\e743";
}
.fa-power-record:before {
  content: "\e663";
}
.fa-power-rejection1:before {
  content: "\e744";
}
.fa-power-rejection:before {
  content: "\e664";
}
.fa-power-recycle:before {
  content: "\e745";
}
.fa-power-rename:before {
  content: "\e665";
}
.fa-power-textarea:before {
  content: "\e739";
}
.fa-power-safe:before {
  content: "\e666";
}
.fa-power-editor:before {
  content: "\e73a";
}
.fa-power-search:before {
  content: "\e667";
}
.fa-power-double:before {
  content: "\e73b";
}
.fa-power-shangyiye1:before {
  content: "\e668";
}
.fa-power-money:before {
  content: "\e73c";
}
.fa-power-shouye1:before {
  content: "\e669";
}
.fa-power-dateday:before {
  content: "\e73d";
}
.fa-power-shuaxin1:before {
  content: "\e66a";
}
.fa-power-date-range:before {
  content: "\e73e";
}
.fa-power-shujuzhongxin1:before {
  content: "\e66b";
}
.fa-power-birthday:before {
  content: "\e746";
}
.fa-power-signoutfullscreen:before {
  content: "\e66c";
}
.fa-power-datetime:before {
  content: "\e747";
}
.fa-power-singletext:before {
  content: "\e66d";
}
.fa-power-integer:before {
  content: "\e748";
}
.fa-power-siteazure:before {
  content: "\e66f";
}
.fa-power-list:before {
  content: "\e749";
}
.fa-power-sousuoxiangguanli:before {
  content: "\e670";
}
.fa-power-btn:before {
  content: "\e74a";
}
.fa-power-sousuoxiangguanli1:before {
  content: "\e671";
}
.fa-power-switched:before {
  content: "\e74b";
}
.fa-power-textadd:before {
  content: "\e672";
}
.fa-power-twolist:before {
  content: "\e74c";
}
.fa-power-tianjiahouyijiedian:before {
  content: "\e673";
}
.fa-power-combinedinput:before {
  content: "\e74d";
}
.fa-power-tianjiaqianyijiedian:before {
  content: "\e674";
}
.fa-power-dropdown:before {
  content: "\e74e";
}
.fa-power-tianjiazijiedian:before {
  content: "\e675";
}
.fa-power-photoupload:before {
  content: "\e74f";
}
.fa-power-topics:before {
  content: "\e676";
}
.fa-power-videoupload:before {
  content: "\e750";
}
.fa-power-user:before {
  content: "\e677";
}
.fa-power-audioupload:before {
  content: "\e751";
}
.fa-power-wait:before {
  content: "\e678";
}
.fa-power-fileupload:before {
  content: "\e752";
}
.fa-power-warning:before {
  content: "\e679";
}
.fa-power-telephone:before {
  content: "\e753";
}
.fa-power-wenjianguanli1:before {
  content: "\e67a";
}
.fa-power-name:before {
  content: "\e754";
}
.fa-power-wenjuandiaocha1:before {
  content: "\e67b";
}
.fa-power-sex:before {
  content: "\e755";
}
.fa-power-wenjuandiaochaguanli:before {
  content: "\e67c";
}
.fa-power-age:before {
  content: "\e756";
}
.fa-power-wiki:before {
  content: "\e67d";
}
.fa-power-email:before {
  content: "\e757";
}
.fa-power-wodegongzuo:before {
  content: "\e67e";
}
.fa-power-qq:before {
  content: "\e758";
}
.fa-power-wodegongzuotai:before {
  content: "\e67f";
}
.fa-power-identitycard:before {
  content: "\e759";
}
.fa-power-workflow:before {
  content: "\e680";
}
.fa-power-phone:before {
  content: "\e75a";
}
.fa-power-xiangguanneirong:before {
  content: "\e681";
}
.fa-power-ipaddress:before {
  content: "\e75b";
}
.fa-power-xiangguanneirongfenlei:before {
  content: "\e682";
}
.fa-power-numberplate:before {
  content: "\e75c";
}
.fa-power-xiayiye:before {
  content: "\e683";
}
.fa-power-location:before {
  content: "\e75d";
}
.fa-power-xingzhengquyu:before {
  content: "\e684";
}
.fa-power-train:before {
  content: "\e75f";
}
.fa-power-xinjianfeileiguanli:before {
  content: "\e685";
}
.fa-power-color:before {
  content: "\e760";
}
.fa-power-xinjianguanli:before {
  content: "\e686";
}
.fa-power-flight:before {
  content: "\e761";
}
.fa-power-xinjianleixingguanli:before {
  content: "\e687";
}
.fa-power-text:before {
  content: "\e762";
}
.fa-power-xinjianyuchuli:before {
  content: "\e688";
}
.fa-power-checkbox:before {
  content: "\e763";
}
.fa-power-book:before {
  content: "\e689";
}
.fa-power-pcview:before {
  content: "\e764";
}
.fa-power-yincangcaidan:before {
  content: "\e68a";
}
.fa-power-padview:before {
  content: "\e765";
}
.fa-power-yishenqinggongkai:before {
  content: "\e68b";
}
.fa-power-phoneview:before {
  content: "\e766";
}
.fa-power-yuchuli:before {
  content: "\e68c";
}
.fa-power-dots:before {
  content: "\e767";
}
.fa-power-Message:before {
  content: "\e68d";
}
.fa-power-set:before {
  content: "\e768";
}
.fa-power-stick:before {
  content: "\e68e";
}
.fa-power-design:before {
  content: "\e769";
}
.fa-power-wenjuan:before {
  content: "\e690";
}
.fa-power-full:before {
  content: "\e76a";
}
.fa-power-xinxigongkai:before {
  content: "\e691";
}
.fa-power-zhishijingsai:before {
  content: "\e692";
}
.fa-power-toupiao:before {
  content: "\e693";
}
.fa-power-gongchengjianshelingyu:before {
  content: "\e695";
}
.fa-power-saomiao:before {
  content: "\e6b8";
}
.fa-power-ad:before {
  content: "\e62c";
}
.fa-power-adInfo:before {
  content: "\e66e";
}
.fa-power-occupation:before {
  content: "\e69d";
}
.fa-power-expand:before {
  content: "\e699";
}
.fa-power-special:before {
  content: "\e617";
}
.fa-power-theme:before {
  content: "\e618";
}
.fa-power-daoru:before {
  content: "\e69e";
}
.fa-power-tongxunlu:before {
  content: "\e6cc";
}
.fa-power-saomiao1:before {
  content: "\e6b9";
}
.fa-power-department:before {
  content: "\e69a";
}
.fa-power-administrator:before {
  content: "\e69b";
}
.fa-power-administrators:before {
  content: "\e69c";
}
.fa-power-delete-xinjianyanqi:before {
  content: "\e6c2";
}
.fa-power-yewuziduan:before {
  content: "\e69f";
}
.fa-power-shenhetongguo:before {
  content: "\e6aa";
}
.fa-power-daishen:before {
  content: "\e6ab";
}
.fa-power-shenhezhong:before {
  content: "\e6b0";
}
.fa-power-zhiban:before {
  content: "\e6cf";
}
.fa-power-diqiu:before {
  content: "\e6a5";
}
.fa-power-gongkai:before {
  content: "\e6a0";
}
.fa-power-newTongGuo:before {
  content: "\e6ba";
}
.fa-power-newChongXin:before {
  content: "\e6bb";
}
.fa-power-newBuTongGuo:before {
  content: "\e6bc";
}
.fa-power-newShenHeZhong:before {
  content: "\e6bd";
}
.fa-power-newDaiShen:before {
  content: "\e6be";
}
.fa-power-cidian:before {
  content: "\e6bf";
}
.fa-power-wenjianjia:before {
  content: "\e6d9";
}
.fa-power-delete-xinjian:before {
  content: "\e6c3";
}
.fa-power-zhuanfa:before {
  content: "\e6c6";
}
.fa-power-msn:before {
  content: "\e6a4";
}
.fa-power-shipin:before {
  content: "\e6c0";
}
.fa-power-shixinxi:before {
  content: "\e6c7";
}
.fa-power-wailianjie:before {
  content: "\e6c9";
}
.fa-power-fujian:before {
  content: "\e6ca";
}
.fa-power-xuxinxi:before {
  content: "\e6c8";
}
.fa-power-zuzhijiagou:before {
  content: "\e6cd";
}
.fa-power-shouyetupian:before {
  content: "\e6cb";
}
.fa-power-tupian:before {
  content: "\e6c1";
}
.fa-power-fenzu:before {
  content: "\e6ce";
}
.fa-power-daipi:before {
  content: "\e6da";
}
.fa-power-daibanli:before {
  content: "\e6db";
}
.fa-power-xinjian:before {
  content: "\e6dc";
}
.fa-power-daishenhe:before {
  content: "\e6dd";
}
.fa-power-xinjianyanqi:before {
  content: "\e6df";
}
.fa-power-yuqiweibanjie:before {
  content: "\e6e0";
}
.fa-power-yibanli:before {
  content: "\e6e1";
}
.fa-power-yuqiyibanjie:before {
  content: "\e6e2";
}
.fa-power-yifeiqi:before {
  content: "\e6e4";
}
.fa-power-daizhuanfa:before {
  content: "\e6e5";
}
.fa-power-yibanjie:before {
  content: "\e6e6";
}
.fa-power-tuihuixiexin:before {
  content: "\e6e7";
}
.fa-power-shujuguidang:before {
  content: "\e6d1";
}
.fa-power-fawenzhang:before {
  content: "\e6a6";
}
.fa-power-comment:before {
  content: "\e6d3";
}
.fa-power-shouji:before {
  content: "\e6d4";
}
.fa-power-pingbandiannao:before {
  content: "\e6d5";
}
.fa-power-quanxian:before {
  content: "\e6d8";
}
.fa-power-daifabu:before {
  content: "\e6d0";
}
.fa-power-wenjianjia1:before {
  content: "\e6a7";
}
.fa-power-tuihuixinjian:before {
  content: "\e7c1";
}
.fa-power-clearCache:before {
  content: "\e70a";
}
.fa-power-policyInterpretation1:before {
  content: "\e6a1";
}
.fa-power-policyDocument1:before {
  content: "\e6a2";
}
.fa-power-commentClose:before {
  content: "\e6a8";
}
.fa-power-weibo:before {
  content: "\e6a3";
}
.fa-power-weixin:before {
  content: "\e6a9";
}
.fa-power-Headline:before {
  content: "\e6ac";
}
.fa-power-relation:before {
  content: "\e6b4";
}
.fa-power-pushedDownSites:before {
  content: "\e6ad";
}
.fa-power-siteGroupPush:before {
  content: "\e6af";
}
.fa-power-sitePush:before {
  content: "\e6b2";
}
.fa-power-siteSubmit:before {
  content: "\e6b3";
}
.fa-power-timer:before {
  content: "\e6b5";
}
.fa-power-cancelTimer:before {
  content: "\e6b6";
}
.fa-power-autoSubscription:before {
  content: "\e6b7";
}
.fa-power-subscribe:before {
  content: "\e6c4";
}
.fa-power-addCover:before {
  content: "\e6d6";
}
.fa-power-addPlayScreen:before {
  content: "\e6d7";
}
.fa-power-survey:before {
  content: "\e6c5";
}
.fa-power-footprint:before {
  content: "\e6d2";
}
.fa-power-service:before {
  content: "\e6de";
}
.fa-power-interaction:before {
  content: "\e6e3";
}
.fa-power-voting:before {
  content: "\e6e8";
}
.fa-power-modify:before {
  content: "\e75e";
}
.fa-power-changePassword:before {
  content: "\e6f2";
}
.fa-power-users:before {
  content: "\e65c";
}
.fa-power-logout:before {
  content: "\e6e9";
}
.fa-power-ndividuation:before {
  content: "\e6ea";
}
.fa-power-audio:before {
  content: "\e6ec";
}
.fa-power-draft2:before {
  content: "\e6eb";
}
.fa-power-umeng:before {
  content: "\e7ee";
}
.fa-power-signed:before {
  content: "\e6f0";
}
.fa-power-in:before {
  content: "\e8d3";
}
.fa-power-calendar:before {
  content: "\e8fe";
}
.fa-power-moban:before {
  content: "\e8ff";
}
.fa-power-week:before {
  content: "\e904";
}
.fa-power-expand-t:before {
  content: "\e905";
}
.fa-power-compress-t:before {
  content: "\e906";
}
.fa-power-adjust:before {
  content: "\e6ed";
}
.fa-power-save:before {
  content: "\e6ee";
}
.fa-power-duty-department-9:before {
  content: "\e6ef";
}
.fa-power-duty-department-8:before {
  content: "\e6f1";
}
.fa-power-duty-department-7:before {
  content: "\ea89";
}
.fa-power-home:before {
  content: "\e696";
}
.fa-power-duty-department-6:before {
  content: "\ea8a";
}
.fa-power-kelong:before {
  content: "\e697";
}
.fa-power-duty-department-5:before {
  content: "\ea93";
}
.fa-power-mine:before {
  content: "\e68f";
}
.fa-power-duty-department-4:before {
  content: "\ea94";
}
.fa-power-guanzhu:before {
  content: "\e7c0";
}
.fa-power-duty-department-3:before {
  content: "\ea96";
}
.fa-power-arrow-right-line:before {
  content: "\e600";
}
.fa-power-duty-department-2:before {
  content: "\ea9a";
}
.fa-power-tuigao:before {
  content: "\e698";
}
.fa-power-duty-department-1:before {
  content: "\eaa3";
}
.fa-power-iconfonticonfuzhi:before {
  content: "\e602";
}
.fa-power-duty-department-16:before {
  content: "\e6f3";
}
.fa-power-project:before {
  content: "\e694";
}
.fa-power-duty-department-15:before {
  content: "\e6f4";
}
.fa-power-pelogo:before {
  content: "\e601";
}
.fa-power-duty-department-14:before {
  content: "\e6f5";
}
.fa-power-fantanguanli:before {
  content: "\e603";
}
.fa-power-duty-department-13:before {
  content: "\e6f6";
}
.fa-power-date:before {
  content: "\e604";
}
.fa-power-duty-department-12:before {
  content: "\e6f7";
}
.fa-power-dividingline:before {
  content: "\e605";
}
.fa-power-duty-department-11:before {
  content: "\e6f8";
}
.fa-power-downlist:before {
  content: "\e606";
}
.fa-power-duty-department-10:before {
  content: "\e6f9";
}
.fa-power-radio:before {
  content: "\e607";
}
.fa-power-duty-department-17:before {
  content: "\e6fa";
}
.fa-power-jiediandaohang:before {
  content: "\e608";
}
.fa-power-menu:before {
  content: "\e880";
}
.fa-power-chuangjianwenzhanglianjie:before {
  content: "\e609";
}
.fa-power-check-circle-o:before {
  content: "\e881";
}
.fa-power-liebiao:before {
  content: "\e60a";
}
.fa-power-bs:before {
  content: "\e882";
}
.fa-power-zhanneixiaozi:before {
  content: "\e60b";
}
.fa-power-offer:before {
  content: "\e883";
}
.fa-power-shangyiye:before {
  content: "\e60c";
}
.fa-power-daiding:before {
  content: "\e884";
}
.fa-power-shouye:before {
  content: "\e60d";
}
.fa-power-anpaimianshi:before {
  content: "\e885";
}
.fa-power-shuaxin:before {
  content: "\e60e";
}
.fa-power-rencai:before {
  content: "\e886";
}
.fa-power-piliangshanchu:before {
  content: "\e60f";
}
.fa-power-exit:before {
  content: "\e887";
}
.fa-power-fenggeguanli:before {
  content: "\e610";
}
.fa-power-times:before {
  content: "\e888";
}
.fa-power-wenjianguanli:before {
  content: "\e611";
}
.fa-power-luyong:before {
  content: "\e889";
}
.fa-power-quanwenjiansuo:before {
  content: "\e612";
}
.fa-power-fabulous:before {
  content: "\e6fb";
}
.fa-power-shujuzhongxin:before {
  content: "\e613";
}
.fa-power-letter:before {
  content: "\e6fc";
}
.fa-power-wenjuandiaocha:before {
  content: "\e614";
}
.fa-power-Sign:before {
  content: "\e6fd";
}
.fa-power-bumenguanll:before {
  content: "\e615";
}
.fa-power-recovery:before {
  content: "\e6fe";
}
.fa-power-fuwushixiangguanli:before {
  content: "\e616";
}
.fa-power-right:before {
  content: "\e6ff";
}
.fa-power-annex:before {
  content: "\e619";
}
.fa-power-footprint-o:before {
  content: "\e700";
}
.fa-power-audit:before {
  content: "\e61a";
}
.fa-power-write:before {
  content: "\e701";
}
.fa-power-audit2:before {
  content: "\e61b";
}
.fa-power-voting2:before {
  content: "\e702";
}
.fa-power-auditcancel:before {
  content: "\e61c";
}
.fa-power-apply:before {
  content: "\e703";
}
.fa-power-auditnopass:before {
  content: "\e61d";
}
.fa-power-stars:before {
  content: "\e704";
}
.fa-power-auditpass:before {
  content: "\e61e";
}
.fa-power-msg:before {
  content: "\e705";
}
.fa-power-auditthrough:before {
  content: "\e61f";
}
.fa-power-bell:before {
  content: "\ec2b";
}
.fa-power-ban:before {
  content: "\e620";
}
.fa-power-task:before {
  content: "\ec2c";
}
.fa-power-banshichuangkouguanli:before {
  content: "\e621";
}
.fa-power-chuangzuozhongxin:before {
  content: "\e70e";
}
.fa-power-batch:before {
  content: "\e622";
}
.fa-power-shouyizhuanhua:before {
  content: "\ec2e";
}
.fa-power-sites:before {
  content: "\e623";
}
.fa-power-shujutubiao:before {
  content: "\ec30";
}
.fa-power-sites1:before {
  content: "\e624";
}
.fa-power-chuangzuo:before {
  content: "\ec31";
}
.fa-power-bumenpeizhi:before {
  content: "\e625";
}
.fa-power-liulanliang:before {
  content: "\ec32";
}
.fa-power-chakanxinjian:before {
  content: "\e626";
}
.fa-power-chuangzuoguanli:before {
  content: "\ec34";
}
.fa-power-chuangjianwenzhang:before {
  content: "\e627";
}
.fa-power-buheshi:before {
  content: "\e706";
}
.fa-power-chuangjianwenzhanglianjie1:before {
  content: "\e628";
}
.fa-power-mianshianpai:before {
  content: "\ec35";
}
.fa-power-chuli:before {
  content: "\e629";
}
.fa-power-stop:before {
  content: "\e707";
}
.fa-power-chulixinjian:before {
  content: "\e62a";
}
.fa-power-refresh:before {
  content: "\e708";
}
.fa-power-date1:before {
  content: "\e62b";
}
.fa-power-seating:before {
  content: "\e709";
}
.fa-power-nav:before {
  content: "\e62d";
}
.fa-power-identity:before {
  content: "\e70b";
}
.fa-power-downlist1:before {
  content: "\e62e";
}
.fa-power-admission-ticket:before {
  content: "\e736";
}
.fa-power-draft:before {
  content: "\e62f";
}
.fa-power-tianjia:before {
  content: "\e70c";
}
.fa-power-dvf:before {
  content: "\e630";
}
.fa-power-gangwei:before {
  content: "\e70d";
}
.fa-power-enable:before {
  content: "\e631";
}
.fa-power-switch:before {
  content: "\e70f";
}
.fa-power-export:before {
  content: "\e632";
}
.fa-power-female:before {
  content: "\e710";
}
.fa-power-eye:before {
  content: "\e633";
}
.fa-power-male:before {
  content: "\e711";
}
.fa-power-fantanguanli1:before {
  content: "\e634";
}
.fa-power-berth-left:before {
  content: "\e71e";
}
.fa-power-fenggeguanli1:before {
  content: "\e635";
}
.fa-power-berth-right:before {
  content: "\e71f";
}
.fa-power-folding:before {
  content: "\e636";
}
.fa-power-tougao:before {
  content: "\ec2f";
}
.fa-power-format:before {
  content: "\e637";
}
.fa-power-api:before {
  content: "\ec33";
}
.fa-power-fullscreen:before {
  content: "\e638";
}
.fa-power-collection:before {
  content: "\ec36";
}
.fa-power-fuwushixiangguanli1:before {
  content: "\e639";
}
.fa-power-commission:before {
  content: "\e726";
}
.fa-power-fuzhijiedian:before {
  content: "\e63a";
}
.fa-power-thissite:before {
  content: "\e727";
}
.fa-power-gongxiang:before {
  content: "\e63b";
}
.fa-power-circle-o-right:before {
  content: "\e728";
}
.fa-power-guidang:before {
  content: "\e63c";
}
.fa-power-circle-o-down:before {
  content: "\e72a";
}
.fa-power-halfcheck:before {
  content: "\e63d";
}
.fa-power-circle-o-up:before {
  content: "\e72b";
}
.fa-power-halfcheck-o:before {
  content: "\e63e";
}
.fa-power-circle-o-left:before {
  content: "\e72c";
}
.fa-power-huishouzhan:before {
  content: "\e63f";
}
.fa-power-thirdpart:before {
  content: "\e72e";
}
.fa-power-interview:before {
  content: "\e640";
}
.fa-power-adoptanother:before {
  content: "\e72f";
}
.fa-power-jiediandaohang1:before {
  content: "\e641";
}
.fa-power-arrange:before {
  content: "\e731";
}
.fa-power-jiedianguanli:before {
  content: "\e642";
}
.fa-power-view-table:before {
  content: "\e712";
}
.fa-power-laptopset:before {
  content: "\e643";
}
.fa-power-view-list:before {
  content: "\e713";
}
.fa-power-laptopuser:before {
  content: "\e644";
}
.fa-power-view-pic:before {
  content: "\e714";
}
.fa-power-liebiao1:before {
  content: "\e645";
}
.fa-power-berth-alone:before {
  content: "\e715";
}
.fa-power-lingdaoxinxiang:before {
  content: "\e646";
}
.fa-power-build:before {
  content: "\e716";
}
.fa-power-lingdaoxinxiangguanli:before {
  content: "\e647";
}
.fa-power-path:before {
  content: "\e717";
}
.fa-power-lishijilu:before {
  content: "\e648";
}
.fa-power-calendar2:before {
  content: "\e718";
}
.fa-power-managecode:before {
  content: "\e649";
}
.fa-power-clock:before {
  content: "\e719";
}
.fa-power-memory:before {
  content: "\e64a";
}
.fa-power-pass:before {
  content: "\e71a";
}
.fa-power-menuhidden:before {
  content: "\e64b";
}
.fa-power-close:before {
  content: "\e71b";
}
.fa-power-menushow:before {
  content: "\e64c";
}
.fa-power-ellipsis:before {
  content: "\e71c";
}
.fa-power-mobanguanli:before {
  content: "\e64d";
}
.fa-power-eye2:before {
  content: "\e71d";
}
.fa-power-morenzhuzahn:before {
  content: "\e64e";
}
.fa-power-hourglass:before {
  content: "\e720";
}
.fa-power-move:before {
  content: "\e64f";
}
.fa-power-bell2:before {
  content: "\e721";
}
.fa-power-moye:before {
  content: "\e650";
}
.fa-power-bell3:before {
  content: "\e722";
}
.fa-power-multilinetext:before {
  content: "\e651";
}
.fa-power-timing:before {
  content: "\e723";
}
.fa-power-multiselect:before {
  content: "\e652";
}
.fa-power-play:before {
  content: "\e724";
}
.fa-power-neirongguanli:before {
  content: "\e653";
}
.fa-power-over:before {
  content: "\e725";
}
.fa-power-node:before {
  content: "\e654";
}
.fa-power-tips:before {
  content: "\e729";
}
.fa-power-nodefold:before {
  content: "\e655";
}
.fa-power-author:before {
  content: "\e72d";
}
.fa-power-nodeopen:before {
  content: "\e656";
}
.fa-power-number:before {
  content: "\e730";
}
.fa-power-online:before {
  content: "\e657";
}
.fa-power-hits:before {
  content: "\e732";
}
.fa-power-online2:before {
  content: "\e658";
}
.fa-power-video:before {
  content: "\e733";
}
.fa-power-open:before {
  content: "\e659";
}
.fa-power-play1:before {
  content: "\e734";
}
.fa-power-diannaoshitu:before {
  content: "\e192";
}
.fa-power-pingbanshitu:before {
  content: "\e193";
}
.fa-power-submittedUpSites:before {
  content: "\e196";
}
.fa-power-siteGroupSubmit:before {
  content: "\e198";
}
.fa-power-rotation:before {
  content: "\e19a";
}
.fa-power-size:before {
  content: "\e19c";
}
.fa-power-shadow:before {
  content: "\e19d";
}
.fa-power-choice:before {
  content: "\e19e";
}
.fa-power-out:before {
  content: "\e19f";
}
.fa-power-paging:before {
  content: "\e1a0";
}
.fa-power-contents:before {
  content: "\e1a1";
}
.fa-power-merge-up:before {
  content: "\e1a2";
}
.fa-power-merge-down:before {
  content: "\e1a3";
}
.fa-power-arrow-down:before {
  content: "\e1a4";
}
.fa-power-arrow-up:before {
  content: "\e1a5";
}
.fa-power-luoshishua:before {
  content: "\e1a7";
}
.fa-power-visual:before {
  content: "\e1a8";
}
.fa-power-html:before {
  content: "\e1ab";
}
.fa-power-css:before {
  content: "\e1ac";
}
.fa-power-shezhili:before {
  content: "\e1ad";
}
.fa-power-nodename:before {
  content: "\e1ae";
}
.fa-power-drag:before {
  content: "\e1af";
}
.fa-power-images:before {
  content: "\e1b2";
}
.fa-power-laoren:before {
  content: "\e1b4";
}
.fa-power-mozhangai:before {
  content: "\e1b5";
}
.fa-power-lock:before {
  content: "\e1b6";
}
.fa-power-safe-o:before {
  content: "\e1b8";
}
.fa-power-workweixin:before {
  content: "\e1bb";
}
.fa-power-honor-o:before {
  content: "\e1bc";
}
.fa-power-microphone:before {
  content: "\e1bd";
}
.fa-power-department-o:before {
  content: "\e1be";
}
.fa-power-course:before {
  content: "\e1bf";
}
.fa-power-fan:before {
  content: "\e1c0";
}
.fa-power-wood:before {
  content: "\e1c1";
}
.fa-power-arrow-lr:before {
  content: "\e1c2";
}
.fa-power-building:before {
  content: "\e1c3";
}
.fa-power-traffic:before {
  content: "\e1c4";
}
.fa-power-hydropower:before {
  content: "\e1c5";
}
.fa-power-doc-status:before {
  content: "\e1c6";
}
.fa-power-letterbox:before {
  content: "\e1c7";
}
.fa-power-develop:before {
  content: "\e1c8";
}
.fa-power-letter-lock:before {
  content: "\e1c9";
}
.fa-power-lecturer:before {
  content: "\e1ca";
}
.fa-power-corporation:before {
  content: "\e1cb";
}
.fa-power-honor:before {
  content: "\e1cc";
}
.fa-power-arrow-lro:before {
  content: "\e1ce";
}
.fa-power-arrow-down-1:before {
  content: "\e1cf";
}
.fa-power-arrow-left:before {
  content: "\e1d0";
}
.fa-power-arrow-right:before {
  content: "\e1d1";
}
.fa-power-arrow-up-1:before {
  content: "\e1d2";
}
.fa-power-down-page:before {
  content: "\e1d3";
}
.fa-power-nps:before {
  content: "\e1d5";
}
.fa-power-bitong:before {
  content: "\e1d6";
}
.fa-power-duoxiangchenkong:before {
  content: "\e1d7";
}
.fa-power-fenge:before {
  content: "\e1d8";
}
.fa-power-huangxiangchenkong:before {
  content: "\e1d9";
}
.fa-power-baixu:before {
  content: "\e1da";
}
.fa-power-pingfen:before {
  content: "\e1db";
}
.fa-power-pingjie:before {
  content: "\e1dc";
}
.fa-power-tupianxuanzhai:before {
  content: "\e1dd";
}
.fa-power-liangbiao:before {
  content: "\e1de";
}
.fa-power-star:before {
  content: "\e1df";
}
.fa-power-starface:before {
  content: "\e1e0";
}
.fa-power-starflower:before {
  content: "\e1e1";
}
.fa-power-starflag:before {
  content: "\e1e2";
}
.fa-power-starheart:before {
  content: "\e1e3";
}
.fa-power-starlike:before {
  content: "\e1e4";
}
.fa-power-cc:before {
  content: "\e1e5";
}
.fa-power-sql:before {
  content: "\e1e6";
}
.fa-power-xss:before {
  content: "\e1e7";
}
.fa-power-reptile:before {
  content: "\e1e8";
}
.fa-power-reptile2:before {
  content: "\e1e9";
}
.fa-power-firewall-stop:before {
  content: "\e1ea";
}
.fa-power-log-cc:before {
  content: "\e1eb";
}
.fa-power-log-sql:before {
  content: "\e1ec";
}
.fa-power-log-xss:before {
  content: "\e1ed";
}
.fa-power-scale:before {
  content: "\e1ee";
}
.fa-power-scan:before {
  content: "\e1ef";
}
.fa-power-compare:before {
  content: "\e1f0";
}
.fa-power-malicious-scan:before {
  content: "\e1f1";
}
.fa-power-risk:before {
  content: "\e1f2";
}
.fa-power-pass2:before {
  content: "\e1f3";
}
.fa-power-question:before {
  content: "\e1f4";
}
.fa-power-complete-scan:before {
  content: "\e1f5";
}
.fa-power-videomanage:before {
  content: "\e1f6";
}
.fa-power-photomanage:before {
  content: "\e1f7";
}
.fa-power-articlemanage:before {
  content: "\e1f8";
}
.fa-power-multiselect2:before {
  content: "\e1f9";
}
.fa-power-back:before {
  content: "\e1fa";
}
.fa-power-change:before {
  content: "\e1fb";
}
.fa-power-must:before {
  content: "\e1fc";
}
.fa-power-notMust:before {
  content: "\e1fd";
}
.fa-power-list-tit:before {
  content: "\e1fe";
}
.fa-power-list-pic:before {
  content: "\e1ff";
}
.fa-power-dingding:before {
  content: "\e201";
}
.fa-power-soft:before {
  content: "\e204";
}
.fa-power-cny:before {
  content: "\e205";
}
.fa-power-path2:before {
  content: "\e206";
}
